{% load static %}

<html>
  <head>
    <title>Angular 2 QuickStart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <base href="/">
    <!-- Polyfill(s) for older browsers -->
    <script src="{{ ANGULAR_URL }}node_modules/core-js/client/shim.min.js"></script>

    <script src="{{ ANGULAR_URL }}node_modules/zone.js/dist/zone.js"></script>
    <script src="{{ ANGULAR_URL }}node_modules/reflect-metadata/Reflect.js"></script>
    <script src="{{ ANGULAR_URL }}node_modules/systemjs/dist/system.src.js"></script>

    <script src="{{ ANGULAR_URL }}systemjs.config.js"></script>
    {# Write your django logics here #}
    <script>
      window.ANGULAR_URL = "{{ ANGULAR_URL }}";
      System.import('/ng/app/main').catch(function(err){
          console.error(err);
      });
    </script>
  </head>

  <body>
    <my-app>Loading...</my-app>
  </body>
</html>
